<div class="col-sm-8 blog-main">
  <center><h2 class="display-4 card m-1"> <%= @topic.title %>..</h2></center>
  <hr>
  <%= paginate @blogs %>

  <%= render @blogs %>

  <%= paginate @blogs %>


</div>



