  <div class="blog-header">
    <div class="container">
      <center>
        <h1 class="blog-title">Inside My Head..</h1>
              <h2 class="lead blog-description  align-items-end ">My observations as a web developer.</h2>

      </center>
      <br>
   

      <span><%= link_to 'Write a New Blog', new_blog_path if logged_in?(:site_admin) %></span>
      

    </div>
  </div>
