<div class="blog-header">
  <div class="container">
    <h1 class="blog-title">Inside My Head...</h1>
    <p class="lead blog-description">My observation as a web developer for the future of technology and development.</p>
    <%= link_to 'Write a New Blog', new_blog_path if logged_in?(:site_admin) %>
  </div>
</div>