      <section class="jumbotron text-center section-bg"><!-- start of header -->
        <div class="container ">
            
          <center><%= image_tag "logo.png" , class: 'mb-2' %></center>

          <p class="lead text-muted secondary-font">Below are some of the projects that I have completed. These were the one that I felt like I learn the most from. Please send me input on what I can do to improve or to just say hi.</p>
          <p>
            <%= link_to 'More About Me', about_me_path, class: "btn btn-outline-primary my-2" %>
            <%= link_to 'My Blog', about_me_path, class: "btn btn-outline-dark my-2" %>
          </p>
        </div>
      </section><!-- end of header -->
