      <section class="jumbotron text-center section-bg"><!-- start of header -->
        <div class="container">
          <h1 class="jumbotron-heading">My Portfolio</h1>
          <p class="lead text-muted secondary-font">Below are some of the projects that I have completed. These were the one that I felt like I learn the most from. Please send me input on what I can do to improve or any comments in general.</p>
          <p>
            <%= link_to 'More About Me', about_me_path, class: "btn btn-primary my-2" %>
            <%= link_to 'My Blog', about_me_path, class: "btn btn-secondary my-2" %>
          </p>
        </div>
      </section><!-- end of header -->
