      <section class="jumbotron text-center section-bg"><!-- start of header -->
        <div class="container ">
            
       <%= image_tag "logo.png" , class: 'mb-2 portfolio-logo' %>

          <p class="lead text-muted secondary-font">Below are some of the projects that I have completed. These were the ones that I felt like I learned the most from. Please check them out and then head over to my blog to see my journey as web developer.</p>
          <p>
            <%= link_to 'More About Me', about_me_path, class: "btn btn-outline-primary my-2" %>
            <%= link_to 'My Blog', about_me_path, class: "btn btn-outline-dark my-2" %>
          </p>
        </div>
      </section><!-- end of header -->
