<div class="app-card-container ">
  <div class="card p-2">
    <h1 class="mt-1">Full-Stack Web Developer</h1>

    <hr>

    <div class="row">
      <div class="col-md-4 ">
        <%= image_tag "peter.png", width: 290, alt: "profile image", class: 'p-2' %>
      </div>

      <div class="col-md-8">
        <p>Hello my name is Peter and I am a web developer. I spend anytime I can perfecting and sharpening my tool kit. I love learning new things and can not picture myself doing anything else. For me it is not just a job, but something I do out of passion. I invariably put 110% in every project I work on, for I am grateful to be in this field.  </p>
        <p>I changed from an almost completed business major to web development. Even though I went to school full time, I felt that it was too slow. As a result, I went to two coding bootcamps at night. My schedule was hetic and it was easily one of the hardest things I did, but I love every minute of it. I ended up being placed the on Dean's List of my college and getting a letter of recommendation from my bootcamp instructor.  From those two bootcamps and college I extended my knowledge of Ruby, CSS, JavaScript, and conceptual programming.  </p>
      </div>
    </div>
  </div>
</div>