<h1>Full-Stack Web Developer</h1>

<hr>

<div class="row">
  <div class="col-md-4">
    
    <%= image_tag('peter.png', alt: 'Image of Developer', width: 300) %>
  </div>

  <div class="col-md-8">

      <p>
      A web developer is a programmer who specializes in, or is specifically engaged in, the development of World Wide Web applications, or applications that are run over HTTP from a web server to a web browser.
      A web developer is a programmer who specializes in, or is specifically engaged in, the development of World Wide Web applications, or applications that are run over HTTP from a web server to a web browser.</p>     
      <p>
      A web developer is a programmer who specializes in, or is specifically engaged in, the development of World Wide Web applications, or applications that are run over HTTP from a web server to a web browser.
      A web developer is a programmer who specializes in, or is specifically engaged in, the development of World Wide Web applications, or applications that are run over HTTP from a web server to a web browser.</p>
  </div>
</div>

