
<h1 class="bounce animated">Lets Collabrate! </h1>
<hr>

<div class="row">
  
  <div class="col-md-3 icon">
    <a href="mailto:petertran198@gmail.com?subject=PortfolioContact" "email me"><%=fa_icon "envelope"%> </a>
    <p>Email Me</p>
  </div>
  <div class="col-md-3 icon ">
   <a href="https://github.com/Petertran198"><%=fa_icon "phone-square"%></a>
    <p>GitHub</p>
  </div>
  <div class="col-md-3 icon ">
   <a href="https://github.com/Petertran198"><%=fa_icon "linkedin-square"%></a>
    <p>Linkedin</p>
  </div>
  <div class="col-md-3 icon ">
   <%=fa_icon "phone-square"%>
    <p class="phone-number"> 714-398-3129</p>
  </div>
  
</div>











 