<h1 class="bounce animated">Lets Collabrate! </h1>
<hr>

<div class="row">
  
  <div class="col-md-4 ">
    <a href="mailto:petertran198@gmail.com?subject=PortfolioContact" "email me"><%=fa_icon "envelope",class: "icon-hover"%> </a>
    <p>Email Me</p>
  </div>
  <div class="col-md-4  ">
   <a href="https://github.com/Petertran198"><%=fa_icon "github",class: "icon-hover"%></a>
    <p>GitHub</p>
  </div>
  <div class="col-md-4  ">
   <a href="https://github.com/Petertran198"><%=fa_icon "linkedin-square",class: "icon-hover"%></a>
    <p>Linkedin</p>
  </div>
  
  
</div>




<div class="row telephone-margin">
  <div class="col-md-12  ">
    <div>
     <%=fa_icon "phone-square",class: "icon"%> 
      <span class="phone-number px-3 mb-5"> (714)-398-3129</span>

  </div>
</div>



 
