
<h1>Lets Collabrate!</h1>

<hr>

<div class="row">
  <div class="col-md-6">
    <h2>You can contact me at..</h2>
    
    
    <p><a href="https://github.com/Petertran198?tab=repositories"> GitHub</a></p>

    <h3>Phone</h3>

    <p><%= number_to_phone "7143983129" %></p>

    <h3>Email</h3>

    <p><a href="mailto:petertran198@gmail.com?subject=PortfolioContact" "email me">Email me</a> </p>
  </div>

  <div class="col-md-6">
  </div>
</div>

