<div class="">
  <h1 class="h1-style">Lets Work Together </h1>
  <div class="about-card-container">
    <div class="card">
      <div class="row">
        <div class="col-md-5">
          <center>
            <h4 class="text-dark">Contact Info:</h4>
            <hr>
          <h5><a href="mailto:petertran198@gmail.com?subject=PortfolioContact" "email me" class="pulse-grow"><%=fa_icon "envelope",class: "icon pulse animated tada"%> </a></h5>
          <h5><a href="https://github.com/Petertran198" target="_blank" rel="noopener noreferrer"><%=fa_icon "github-square",class: "icon pulse animated tada"%></a></h5>
         <h5><a href="https://www.linkedin.com/in/petertran-web-developer/" target="_blank" rel="noopener noreferrer"><%=fa_icon "linkedin-square",class: "icon pulse animated tada"%></a></h5>
          <h5><a href="tel:714-398-3129"><%=fa_icon "phone-square",class: "icon pulse  animated tada"%> </a></h5>

        </center>

        </div>
        <div class="col-md-7">
          <br>
          <br>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d425167.784297669!2d-118.0496384376332!3d33.6410077049131!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80dc925c54d5f7cf%3A0xdea6c3618ff0d607!2sOrange+County%2C+CA!5e0!3m2!1sen!2sus!4v1549743721367" width="100%" height="300" frameborder="0" style="border:0" >

        </div>

      </div>
    </div>


  </div>

</div>






 
