  <div class="inner cover">
    <h1 class=" h1-style animated fadeInDown">Welcome to my World</h1>
    <p class="lead animated zoomIn">The world of software development is a vast, ever-changing ecosystem that consists of numerous frameworks and technologies. To keep up, one has to be a quick learner and have passion. Passion for their work, as well as what they can contribute to the team. <p>
    <p class="lead">
      <%= link_to "About Me", about_me_path, class: "btn btn-outline-light animated fadeInUp" %>
    </p>
    <div style="height: 50px;"></div>
  </div>













