  <!--animated bounceIn-->
  <div class="inner cover  ">
    <h1 class=" black-border-white-bg">Full Stack Web Developer</h1>
    <p class="lead black-border-white-bg" style="font-size: 20px; line-height: 135%; ">
      I am a problem solver who is extremely blessed to be able to work in software development. I specialize in Ruby on Rails, JavaScript, along with many other web based technologies. Find out what technologies I know on the "About Me" page.
      <p>
    <p class="lead">
      <%= link_to "More About Me", about_me_path, class: "btn btn-outline-primary " %> 
      <%= link_to "Portfolio Projects", portfolios_path, class: "btn btn-outline-light " %>
    </p>
    <div style="height: 50px;"></div>
  </div>
<p class="white">
  <%= render "shared/application_footer" %> <!-- concern for copyright footer -->
</p>  












