  <div class="inner cover animated bounceIn ">
    <h1 class=" black-border-white-bg">Software Development</h1>
    <p class="lead black-border-white-bg">The world of software development is a vast, ever-changing ecosystem that consists of numerous frameworks and technologies. To keep up, one has to be a quick learner and have passion. Passion for their work, as well as what they can contribute to the team. <p>
    <p class="lead">
      <%= link_to "About Me", about_me_path, class: "btn btn-outline-light " %>
    </p>
    <div style="height: 50px;"></div>
  </div>
<p class="white">
  <%= render "shared/application_footer" %> <!-- concern for copyright footer -->
</p>  












