  
  <div class="inner cover ">
    <h2 class="cover-headin mb-2 mt-2">Tweet like a Developer </h2>  <%= link_to "New Tweets", "", class: "btn btn-outline-light" %>
    
   
      <div class="row">
        <% @tweets.each do |tweet| %>
          <div class="col-md-6">
            <div class="tech-news">
              <div class="card ">
                <!-- animated rotateIn-->
                <div class="">
                <%= twitter_parser tweet %>
                </div>
              </div>
            </div>
          </div>
        <% end %>      
      </div>
    </div>

