
    <div class="inner cover " onclick="tweetReload()">
      <h3 class="cover-headin">The Latest Tweets <br>by Developers </h3> 
      
     
        <div class="row">
          <% @tweets.each do |tweet| %>
            <div class="col-md-6">
              <div class="tech-news click-tweet">
                <div class="card ">
                  <!-- animated rotateIn-->
                  <div class="">
                  <%= twitter_parser tweet %>
                  <br>

                  </div>
                </div>
              </div>
            </div>
          <% end %>      
        </div>
      </div>
