@import "bootstrap";
@import "font-awesome";
@import "gritter";

/*
 * Globals
 */

@media (min-width: 48em) {
  html {
    font-size: 18px;
  }
}

body {
 font-family: 'Roboto', sans-serif;
  color: #000;
}

.navbar{
  line-height: 50%;
}
  
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #333;
}


/*
 * Override Bootstrap's default container.
 */

.container {
  max-width: 60rem;
}


/*
 * Masthead for nav
 */

.blog-masthead {
  margin-bottom: 3rem;
   background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1))no-repeat;
   background-color: #0c1729;
    background-size: 100%; /* size the background image at 100% like any responsive img tag */
    background-position: 0% 50%;
   background-size: cover;
  -webkit-box-shadow: inset 0 -.1rem .25rem rgba(0,0,0,.1);
          box-shadow: inset 0 -.1rem .25rem rgba(0,0,0,.1);
}
.white{
  color: white;
  text-align: center;

}
.inner {
  padding: 1.5rem;
  margin-bottom: -1rem;
  
}
/* Nav links */
.nav-link {
  position: relative;
  padding: 1rem;
  font-weight: 500;
  color: #F8F8FF;
}
.nav-link:hover,
.nav-link:focus {
  color: #fff;
  background-color: transparent;
}

/* Active state gets a caret at the bottom */
.nav-link.active {
  color: #fff;
}
.nav-link.active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -.3rem;
  vertical-align: middle;
  content: "";
  border-right: .3rem solid transparent;
  border-bottom: .3rem solid;
  border-left: .3rem solid transparent;
}
.navbar-dark .navbar-nav .nav-link {
  color: #d5d5d5;
}


/*
 * Blog name and description
 */
.blog-bg{
  position: relative;
  height: 100%;
  min-height: 330px;
  background: url('blog-header.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 30% ;
  border-bottom: 4px solid black;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.blog-overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
}
.blog-header {
  padding-bottom: 1.25rem;
  margin-bottom: 2rem;

}
.blog-title {
  margin-bottom: 0;
  font-size: 2.3rem;
  font-weight: 400;
  color: white;
  font-family: 'Righteous', cursive;
}
.blog-description {
  font-size: 1.1rem;
  color: #F8F8FF;
}

@media (min-width: 40em) {
  .blog-title {
    font-size: 3.5rem;
  }
}

#black{
  color: black !important;
}

/*
 * Main column and sidebar layout
 */

/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 1rem;
  /*margin: 0 -1rem 1rem;*/
}
.sidebar-module-inset {
  padding: 1rem;
  background-color: #f5f5f5;
  border-radius: .25rem;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}


/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}


/*
 * Blog posts
 */

.blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  margin-bottom: .25rem;
  font-size: 2.2 rem;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.2);


}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #191919;
  font-style: italic;
}


/*
 * Footer
 */

.blog-footer {
  padding: 2rem 0;
  color: #0B172A;
  text-align: center;
  background-color: #F8F8FF;
  border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}



//Custom 


// Blog Links
li .blog-links{
    text-decoration: none;
    font-weight: 200;
    font-size: 1.2em;
    color: black;
}

li .blog-links:hover {
  font-weight: bold;
}


// Blog title post

.title a {
  color: #323232; 
  font-family: 'Roboto', sans-serif;
  

}

.blog-about-section {
  color: black;
}

// BLOG BODY COLOR 
.blog-body {
  
background-image: linear-gradient(to right, #e6e9f0 0%, #eef1f5 100%);

}


//COMMENT PART

.comment-card >.card{
  margin-top: 13px;
}

//SIDE BAR
/* Pulse */
@keyframes pulse {
  25% {
    transform: scale(1.2);
  }

  75% {
    transform: scale(.9);
    color: #202020;
  }
}

.pulse {
  display: inline-block;


  &:hover {
    animation-name: pulse;
    animation-duration: 1.7s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
}



.icon {
  font-size: 2em;
  color: #191919;
 }

 a {
  transition: color 1.5s;
  color: #202020;
}


.topic-link{
  font-size: 1rem;
}
.topic-title{
  font-size: 2rem;
}

//BREADCRUMBS ARROW CUSTOMIZATION
.breadcrumb-right-arrow .breadcrumb-item+.breadcrumb-item::before {
    content: "›";
  vertical-align:top;
  font-size:40px;
  line-height:24px;
}


.breadcrumb-right-tag {padding:0;background:none;}
.breadcrumb-right-tag .breadcrumb-item {background:rgba(2, 117, 216, 0.8);padding:.5em 1em;}
.breadcrumb-right-tag .breadcrumb-item a, .breadcrumb-right-tag .breadcrumb-item  {color:#fff;}
.breadcrumb-right-tag .breadcrumb-item:nth-child(2) {background:rgba(2, 117, 216, 0.6);}

.breadcrumb-right-tag .breadcrumb-item:nth-child(3) {background:rgba(2, 117, 216, 0.5);}

.breadcrumb-right-tag .breadcrumb-item+.breadcrumb-item::before {
    content: "";
  padding:0;
}

//Blog for breadcrumb
.blogcrumb a {
  font-size: 1.25em;
  margin: 0px 10px 0px 10px;
} 




.navbar-nav a:hover {
    font-size: 1.1rem;
  }
